<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset="utf-8">
   		<title>Quiz</title>
   		<link rel='stylesheet' href='/stylesheets/style.css' />
   		<link rel="stylesheet" type="text/css" media='only screen and (min-width: 530px) and (min-device-width:481px)' href="/stylesheets/wide.css">
   		<link rel="stylesheet" type="text/css" media='only screen and (max-width: 480px)' href="/stylesheets/smartphone.css">
   		<link rel="stylesheet" type="text/css" href="/stylesheets/iconfonts/flaticon.css">
	</head>

	<body>
		<header class="main" id="h1">
			<h2>Quiz: El juego de las preguntas</h2>
			<form action="/quizes/search" method="get">
				<input type="text" class="mdText" placeholder="Pregunta a buscar" name="search" value="" autocomplete="off">
				<input type="submit" class="mdFlatButton" value="Buscar"/>
			</form>
			<% if(!session.user){ %>
				<span><a href="/login">Login</a></span>
			<% }else{ %>	
				<span><%= session.user.username %> <a href="/logout">Logout</a></span>
			<% } %>
		</header>
		<div id="page-wrap">
			<nav class="main" id"n1" role="navigation">
				<span><a href="/">Inicio</a></span>
				<span><a href="/quizes/">Preguntas</a></span>
				<span><a href="/author">Créditos</a></span>
			</nav>

			<section class="main" id="s1">
				<% if(errors.length){ %>
					<div id="ErrorMsgs" class="error">
						<p>Corregir errores:</p>
						<% for(var i in errors){ %>
							<p> <%= errors[i].message %> </p>
						<% } %>
					</div>
				<% } %>

				<%- body %>
			</section>

			<footer>
				<a href="http://es.wikipedia.org/wiki/Quiz" target="#">¿Qué es un quiz?</a>
				<a href="https://github.com/Raul-GM/RaulGM-Quiz" target="#">Ver proyecto en GitHub</a>
			</footer>
		</div>
  	</body>
</html>
