/*
.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF4081; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
*/
*                    { margin: 0; padding: 0; }
html{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
body                 { 
	font: 16px Georgia, serif; 
	background: #2196F3;
	width: 100%;
	height: 100%;
}

header{
	background: #1976D2;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	color: #FFFFFF;
	z-index: 20;
	height: 60px;
	position: relative;
}
header .wrapper{
	margin-left: 20px;
    width: calc(100% - 40px);
    height: 100%;
}
header h2{
	float: left;
    white-space: nowrap;
    line-height: 60px;
}
header form{ 
	float: left;
    height: 60px;
    width: calc(100% - 240px);
}
header form input{ margin-left: 10px; }
header .login{
	float: right;
    height: 60px;
    width: 80px;
    text-align: center;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-around; /* Safari 6.1+ */
    justify-content: space-around;
    color: #B6B6B6;
}
header .login a{
	color:#FFFFFF;
}
i{ display: block; }
.mdSearch{ 
	position: relative;
}
.mdSearch input[type="text"]{
	display: block;
    padding: 8px 8px 8px 72px;
    margin: 15px 0px 15px 20px;
    box-shadow: 0px 1px 1.5px rgba(0,0,0,0.06),0px 1px 1px rgba(0,0,0,0.12);
    background: #2196F3;
	width: calc(100% - 100px);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 300;
    outline: none;
    border-radius: 3px;
}
.mdSearch:hover input[type="text"]{ background: #BBDEFB; }
.mdSearch input[type="text"]:focus{
	background: #FFFFFF; 
	color: #212121;
}
.mdSearch input[type="text"]::-webkit-input-placeholder {color: #727272;}
.mdSearch input[type="text"]:-moz-placeholder { color: #727272; }
.mdSearch input[type="text"]::-moz-placeholder { color: #727272; }
.mdSearch input[type="text"]:-ms-input-placeholder { color: #727272; }
.mdSearch button{
	position: absolute;
	display: block;
	border: none;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    background: transparent;
    color: #727272;
    top: 3px;
    left: 40px;
    padding: 3px 10px;
    cursor: pointer;
}
.mdText{
	background: transparent;
	border: none;
	border-bottom: 1px solid #FF4081;
	padding: 5px;
	outline-width: 0px;
	color: #FFFFFF;
}
.mdText.dark{ color: #212121;}
.mdText:focus{ border-bottom: 2px solid #FF4081; }

.mdFlatButton{
	border: none;
	background: #FF4081;
	color: #FFFFFF!important;
	padding: 5px 8px;
	font-size: 16px;
	cursor: pointer;
}
.mdRoundedButton{
	border: none;
	border-radius: 100%;
	width: 56px;
	height: 56px;
	line-height: 56px;
	background: #FF4081;
	color: #FFFFFF;
	display: block;
	font-size: 36px;
	cursor: pointer;
	box-sizing: content-box;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.mdRoundedButton.small{
	width: 34px;
	height: 34px;
	line-height: 34px;
	font-size: 22px;
}
.mdRoundedButton:hover{
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
	box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
.mdRoundedButton.cardActions{
	margin: 0px 3px;
	position: relative;
	z-index: 200;
}
.addQuestion{
	position: absolute;
	bottom: -25px;
	left: 175px;
}
.addComment{
	position: absolute;
    right: 20px;
    top: 20px;
}

#page-wrap{
	display: block;
	position: relative;
	width: 100%;
	height: calc(100% - 110px);
}

a{ text-decoration: none; }

nav{ background: #1976D2; }
nav span,
nav span a{
	height: 45px;
	line-height: 45px;
	position: relative;
	display: block;
	cursor: pointer;
}
nav span:hover{ background: #B2EBF2; }
nav span:active{ background: #B6B6B6; }
nav span a{ 
	margin-left: 20px;
	color: #212121;
}
nav span a:active{ color: #FFFFFF; }

section { 
	padding: 20px;
  	text-align: center;
  	color: #FFFFFF;
  	overflow: auto;
}
section .subtitle{ color: #BBDEFB; }
section form.main{
	width:100%; 
	height: auto;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	-webkit-justify-content: center; /* Safari 6.1+ */
    justify-content: center;
    -webkit-align-items: center;
   	align-items: center;
   	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
form.reset{ width: 0%; height: 0%; }
footer{ 
	background: #FFFFFF; 
	text-align: center;
	height: 50px;
	line-height: 50px;
	z-index: 30;
}
footer a{
	color: #FF4081;
	margin: 0px 10px;
}

#ErrorMsgs{ 
	color: #FFFFFF;
    font-size: smaller;
    background-color: #FF4081;
    position: relative;
    margin-top: -100px;
    margin-bottom: 30px;
    width: calc(100% + 40px);
    left: -20px;
    box-shadow: 0 0 2px rgba(0,0,0,.14),0 2px 2px rgba(0,0,0,.28);
    padding: 10px 0;
    height: 50px;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	-webkit-justify-content: center; /* Safari 6.1+ */
    justify-content: center;
    -webkit-align-items: center;
   	align-items: center;
   	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	z-index: -1;
}
#ErrorMsgs.open{
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {margin-top: -100px}
    to {margin-top: -20px;}
}
.right 				 {float: right;}

.quiz_img 			 { height: 150px; float: left;}

.questions{ 
	width: 100%; 
	height: 100%;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	-webkit-justify-content: center; /* Safari 6.1+ */
    justify-content: center;
    -webkit-align-items: flex-start;
   	align-items: flex-start;
   	-webkit-flex-wrap: wrap;
   	flex-wrap: wrap;
   	
}
.search{
	width: 100%;
	margin: 10px 0px;
}
.search h3,
.search span{ display: inline-block;}
.search span{ color: #FF4081; margin-left: 10px; }
.card{
	display: -webkit-inline-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-inline-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-inline-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: inline-flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	-webkit-justify-content: center; /* Safari 6.1+ */
    justify-content: center;
    -webkit-align-items: center;
   	align-items: center;
   	cursor: pointer;
   	position: relative;
	width: 250px;
	height: 180px;
	background: #FFFFFF;
	color: #212121;
	margin: 5px;
	padding: 10px;
	-webkit-border-radius: 2px;
  	border-radius: 2px;
  	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  	box-shadow: 0px 3px 6px rgba(0 ,0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}
.card span{ color: #FF4081; }
.card .actions{
	position: absolute;
	display: -webkit-inline-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-inline-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-inline-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: inline-flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	right: 10px;
}
.card .hashtag{
	position: absolute;
	left:10px;
	bottom: 10px;
	font-size: 14px;
	color: #727272!important;
	margin: 0px!important;
}
.card.big{
	width: 80%;
	height: auto;
	min-height: 200px;
	max-width: 450px;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	cursor: default;
}
.card.big form{ height: initial;}
.card.big h1{ font-size: 30px;}
.card.big p{ color: #727272; margin: 30px 0px;}
.card.big div{ 
	display: block;
	margin: 20px 0px;
}
.card.big.comments p{
	margin: 10px 0px;
    width: 100%;
    text-align: center;
}
.card.big.comments p span{
	color: #727272;
    display: inline-block;
}
.card.big.comments p a{
	display: inline-block;
	color: #B6B6B6;
}
.card.big.comments p a:hover{
	color: #212121;
}

.author{ width: 100%; height: 100%;}
.author img{
	border-radius: 100%;
	margin-bottom: 20px;
}
.author a{ color: #FF4081;}
