<div>
	<label for="preg">Pregunta:</label>
	<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" class="mdText dark">
</div>
<div>
	<label for="resp">Respuesta:</label>
	<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" class="mdText dark">
</div>
<div>
	<a href="/quizes" class="mdFlatButton">Cancelar</a>
	<input type="submit" value="Guardar" class="mdFlatButton"/>
</div>