<% if(resultado != ''){ %>
	<div class="search"><h3>Resultados para la búsqueda: </h3><span><%= resultado %><span></div>
<% } %>
<div class="questions">
	<% 	var i; for(i=0;i<quizes.length; i++){ %>
		<a class="card" href="/quizes/<%=quizes[i].id %>"> <span><%= quizes[i].pregunta %></span></a>
	<% } %>
</div>