<form action="/quizes/<%= quiz.id %>/answer" method="get">
	<div class="card big">
		<h1>Pregunta:</h1> 
		<p><%= quiz.pregunta %></p>
		<div class="inputs">
			<input type="text" name="respuesta" placeholder="Responda aquí" class="mdText dark"/>
			<input type="submit" value="Enviar" class="mdFlatButton"/>
		</div>
		<div>
			<a href="/quizes" class="mdFlatButton">Cancelar</a>	
		</div>
		<p class="hashtag">#<%= quiz.tema %></p>
	</div>
</form>
