<div class="card big">
	<h1>Login</h1>
	<form action="/login" method="post">
		<div>
			<div>
				<label for="user">Usuario:</label>
				<input type="text" id="user" name="login" class="mdText dark">
			</div>
			<div>
				<label for="pass">Password:</label>
				<input type="password" id="pass" name="password" class="mdText dark">
			</div>
			<div>
				<input type="submit" value="Login" class="mdFlatButton"/>
			</div>
		</div>
	</post
<div>
	
</div>